@use "variables" as *;
@use "mixins" as *;


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Yuji Syuku", "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}

a {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  padding: 80px 20px;

  @include sp {
    padding: 48px 20px;
  }
}

.inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  writing-mode: vertical-rl;
  padding: 10px;
  background-color: rgba(235, 65, 65, 0.85);
  color: yellow;
  font-size: clamp(0.9rem, 5vw, 1rem);
  font-weight: bold;
  letter-spacing: 0.2em;
}