---
import { Image } from 'astro:assets';

import aboutImage from '../../assets/images/logo.png';
---
<section class="section" id="about">
  <div class="inner">
    <div class="section-title">
      <h2 class="title">
        <Image class="about-image" src={ aboutImage } width={200} height={200} alt="いしばしさん家" />
      </h2>
    </div>
    <div class="content">
      <p class="text first">熊本市東区・健軍電停近くにある</p>
      <p class="text first2">居酒屋食堂 いしばしさん家。</p>
      <p class="text second">お昼は、お手軽でどこか懐かしい</p>
      <p class="text second2">Theシンプルなカレーを。</p>
      <p class="text third">夜は、お酒とお食事を気軽に楽しめる</p>
      <p class="text third2">居酒屋食堂として、</p>
      <p class="text">日曜日と祝日はお酒を片手に昼から</p>
      <p class="text"> 楽しみませんか？</p>
      <p class="text four">おひとり様からグループまで、ゆっくり過ごせる空間をご用意しています。</p>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  .section-title {
    background-color: transparent;
    border: none;
  }

  .about-image {
    width: 100%;
    height: 100%;
    background-color: rgba(235, 65, 65, 0.85);
    border-radius: 50%;
    object-fit: contain;
  }

  .content {
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin: 80px auto 0;
    line-height: 3;
    
    @include tb {
      text-align: left;
    }
  }
</style>