---
---
<section class="section access" id="access">
  <div class="inner access">
    <div class="section-title">
      <h2 class="title">アクセス</h2>
    </div>
    <div class="map-wrap">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13417.903202139962!2d130.7614168218701!3d32.77964116273117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3540f23600b5ae95%3A0xb24d2a7dad1a6930!2z44CSODYyLTA5MDIg54aK5pys55yM54aK5pys5biC5p2x5Yy65p2x5pys55S677yR4oiS77yZ77yY!5e0!3m2!1sja!2sjp!4v1780389925479!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  .section.access {
    padding: 0;
  }

  .map-wrap {
    max-width: 900px;
    height: 300px;
    margin: 80px auto 0;
    border-radius: 5px;
  }

  .map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
</style>